@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --bg-color: #f0f0f5;
    --card-bg: #ffffff;
    --grass: #9bcc50;
    --fire: #ff9441;
    --water: #4592c4;
    --bug: #729f3f;
    --rock: #a38c21;
    --normal: #a4acaf;
    --poison: #b97fc9;
    --ghost: #7b62a3;
    --dark: #707070;
    --electric: #eed535;
    --ground: #f7de3f;
    --fairy: #fdb9e9;
    --psychic: #f366b9;
    --fighting: #d56723;
}

.grass{background-color: var(--grass)!important;}
.fire{background-color: var(--fire)!important;}
.water{background-color: var(--water)!important;}
.bug{background-color: var(--bug)!important;}
.rock{background-color: var(--rock)!important;}
.normal{background-color: var(--normal)!important;}
.poison{background-color: var(--poison)!important;}
.ghost{background-color: var(--ghost)!important;}
.dark{background-color: var(--dark) !important;}
.electric{background-color: var(--electric)!important;}
.ground{background-color: var(--ground)!important;}
.fairy{background-color: var(--fairy)!important;}
.psychic{background-color: var(--psychic)!important;}
.fighting{background-color: var(--fighting)!important;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main{
    height: 100%;
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    color: #333333;
}

main {
    padding: 1rem;
    max-width: 1100px;
    margin: 60px auto;
}

main > h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;

    margin: 60px 0;
}

.card {
    width: 12rem auto;

    background-color: var(--card-bg);
    background: url("../assets/pokemon.svg") no-repeat;
    background-size: cover;

    padding: 1rem;
    border-radius: 10px;

    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.card:hover {
    transform: scale(1.05);
}

.card--id {
    background: #ffffff;
    width: 3rem;
    color: #333;
    padding: 0.1rem;
    font-weight: 700;
    position: absolute;
    border-radius: 0 0 10px 0;
    top: 0;
    left: 0;
}

.card--name {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16pt;
    font-weight: 700;

    margin: 3px 0;
}

/*.card--image {
    width: 150px;
    display: block;
    margin: auto;
}*/

.card--details{
    display: flex;
    align-items: center;
}

.card--details span{
    font-size: 10pt;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.15);

    border-radius: 10px;

    padding: 4px 12px;
}

.card--details span ~ span {
    margin-left: 3px;
}
